.character-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 20px;
    }

.character-card {
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo general */
    border-radius: 8px;
    overflow: hidden; /* Para que la imagen no sobresalga */
    transition: background-color 0.3s; /* Transición para el color de fondo */
    position: relative; 
    }
    
.character-card:hover {
    opacity: 0.8; /* Efecto de opacidad al pasar el mouse */
    }

.character-card.human {
    background-color: black; /* Colores de fondo para cada especie */
    }

.character-card.alien {
    background-color: green; 
    }

.character-card.robot {
        background-color: blue; 
    }

    .character-card.disease {
        background-color: rgb(127, 34, 3); 
    }

    .character-card.humanoid {
        background-color: rgb(118, 4, 112); 
    }

    .character-card.animal {
        background-color: rgb(154, 168, 3); 
    }

    .character-card.unknown {
        background-color: rgb(12, 164, 141); 
    }

    .character-card.poopybutthole {
        background-color: rgb(235, 178, 226); 
    }

    .character-card.mythological {
        background-color: rgb(230, 176, 115); 
    }
    .character-card.cronenberg {
        background-color: rgb(87, 125, 85); 
    }

.character-card img {
    width: 100%;
    border-radius: 8px; /* Borde redondeado*/
    }
    

.info {
    color: white; /* Color del texto */
    padding: 10px; 
    }

    .pagination {
        display: flex;
        justify-content: flex-end; /* Alinea los botones a la derecha */
        margin: 20px; /* Añade margen para que no estén pegados a la esquina */
    }
    
    .pagination button {
        background-color: black;
        color: white; 
        border: none; 
        padding: 10px 15px; /* Espaciado alrededor del texto */
        margin-left: 10px; 
        cursor: pointer; /* Cambia el cursor al pasar por encima */
        border-radius: 5px; 
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }
    
    .pagination button:hover {
        background-color: #444; /* Color de fondo al pasar el mouse */
    }
    