.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%; /* Ocupa toda la altura/
    }
    
    .spinner {
    border-radius: 50%;
    width: 50px; /* Tamaño del spinner */
    height: 50px; /* Tamaño del spinner */
    animation: spin 1s linear infinite; /* Animación de giro */
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
